# Environment variables (NUNCA subir claves a Git)
.env
.env.*

# .NET build artifacts
Backend/bin/
Backend/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# JetBrains Rider
.idea/

# NuGet
*.nupkg
project.lock.json
project.fragment.lock.json

# ASP.NET
appsettings.Development.json

/0[0-9]_*.md
/1[0-9]_*.md

# Frontend
Frontend/node_modules
Frontend/.vite
Frontend/dist

# OS / Editor Files
.DS_Store
Thumbs.db

# Additional Node/React ignores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Frontend/coverage/
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local
